<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Ролей</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/listUsers">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/listRoles">Роли</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/listManufacturers">Поставщики</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/listStatuses">Статусы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/listOrders">Заказы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/listCategories">Категории</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/listProducts">Товары</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h1>Список Ролей</h1>
    <form action="/roles" method="get" class="mb-4">
        <input type="text" name="search" placeholder="Поиск по имени" class="form-control" th:value="${search}">
        <button type="submit" class="btn btn-primary mt-2">Поиск</button>
    </form>
    <a href="/roles/create" class="btn btn-primary mb-3">Добавить роль</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Удалено</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role : ${roles}">
            <td th:text="${role.id}"></td>
            <td th:text="${role.name}"></td>
            <td th:text="${role.deleted ? 'Да' : 'Нет'}"></td>
            <td>
                <a th:href="@{/roles/edit/{id}(id=${role.id})}" class="btn btn-primary">Редактировать</a>
                <a th:href="@{/roles/delete/{id}(id=${role.id})}" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить эту роль?');">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>