<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товары</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/user/listUsers">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/listRoles">Роли</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/listManufacturers">Поставщики</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/listStatuses">Статусы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/listOrders">Заказы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/listCategories">Категории</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/listProducts">Товары</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h1>Товары (Пользователь)</h1>


    <a href="/auth/login" class="btn btn-primary">Выход</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th><a th:href="@{/listProducts(sortField='id', sortDir=${reverseSortDir}, page=${currentPage})}">ID</a></th>
            <th><a th:href="@{/listProducts(sortField='name', sortDir=${reverseSortDir}, page=${currentPage})}">Название</a></th>

            <th>Описание</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Категория</th>
            <th>Производитель</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productsPage.content}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.count}"></td>
            <td th:text="${product.category.name}"></td>
            <td th:text="${product.manufacturer.name}"></td>

        </tr>
        </tbody>
    </table>



</div>
</body>
</html>
