<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать Статус</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Редактировать Статус</h1>
    <form action="/statuses/{id}" method="post" th:action="@{/statuses/{id}(id=${status.id})}">
        <div class="form-group">
            <label for="name">Название Статуса:</label>
            <input type="text" id="name" name="name" class="form-control" maxlength="50" required th:value="${status.name}">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <a href="/statuses" class="btn btn-secondary">Назад</a>
    </form>
</div>
</body>
</html>
