<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Статусов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/users">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/roles">Роли</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manufacturers">Поставщики</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/statuses">Статусы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/orders">Заказы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categories">Категории</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Товары</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h1>Список Статусов</h1>

    <form action="/statuses" method="get" class="mb-4">
        <input type="text" name="search" placeholder="Поиск по имени" class="form-control" th:value="${search}">
        <button type="submit" class="btn btn-primary mt-2">Поиск</button>
    </form>

    <a href="/statuses/create" class="btn btn-primary mb-3">Добавить статус</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="status : ${statuses}">
            <td th:text="${status.id}"></td>
            <td th:text="${status.name}"></td>
            <td>
                <a th:href="@{/statuses/edit/{id}(id=${status.id})}" class="btn btn-primary">Редактировать</a>
                <a th:href="@{/statuses/delete/{id}(id=${status.id})}" class="btn btn-danger"
                   onclick="return confirm('Вы уверены, что хотите удалить этот статус?');">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
