<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Продукты</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/users">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/roles">Роли</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manufacturers">Поставщики</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/statuses">Статусы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/orders">Заказы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categories">Категории</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Товары</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h1>Продукты</h1>

    <form class="form-inline my-2 my-lg-0" action="/products/search" method="get">
        <input class="form-control mr-sm-2" type="search" name="keyword" placeholder="Поиск продукта" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Поиск</button>
    </form>



    <a href="/products/create" class="btn btn-primary mb-3">Добавить продукт</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Категория</th>
            <th>Производитель</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.count}"></td>
            <td th:text="${product.category.name}"></td>
            <td th:text="${product.manufacturer.name}"></td>
            <td>
                <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-primary mb-3">Редактировать</a>
                <form th:action="@{/products/delete/{id}(id=${product.id})}" method="post">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
