<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Добавить Производителя - Суперпользователь</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1>Добавить Производителя</h1>
  <form th:action="@{/superuser/manufacturers}" method="post" th:object="${manufacturer}">
    <div class="form-group">
      <label for="name">Название производителя:</label>
      <input type="text" id="name" name="name" class="form-control" required th:field="*{name}">
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
    <a th:href="@{/superuser/listManufacturers}" class="btn btn-secondary">Назад</a>
  </form>
</div>
</body>
</html>