<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать Роль</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Редактировать Роль</h1>
    <form th:action="@{/superuser/roles/{id}(id=${role.id})}" method="post" th:object="${role}">
        <div class="form-group">
            <label for="name">Название роли:</label>
            <input type="text" id="name" name="name" class="form-control" maxlength="13" required th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="deleted">Удалено:</label>
            <select id="deleted" name="deleted" class="form-control" th:field="*{deleted}">
                <option th:value="false">Нет</option>
                <option th:value="true">Да</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <a th:href="@{/superuser/listRoles}" class="btn btn-secondary">Назад</a>
    </form>
</div>
</body>
</html>
