<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список Заказов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/superuser/listUsers">Пользователи</a></li>
            <li class="nav-item"><a class="nav-link" href="/superuser/listRoles">Роли</a></li>
            <li class="nav-item"><a class="nav-link" href="/superuser/listManufacturers">Поставщики</a></li>
            <li class="nav-item"><a class="nav-link" href="/superuser/listStatuses">Статусы</a></li>
            <li class="nav-item"><a class="nav-link" href="/superuser/listOrders">Заказы</a></li>
            <li class="nav-item"><a class="nav-link" href="/superuser/listCategories">Категории</a></li>
            <li class="nav-item"><a class="nav-link" href="/superuser/listProducts">Товары</a></li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h1>Список Заказов - Суперпользователь</h1>
    <!-- Форма поиска -->
    <form class="form-inline my-2 my-lg-0" action="/superuser/orders/search" method="get">
        <input class="form-control mr-sm-2" type="search" name="keyword" placeholder="Поиск заказа" aria-label="Search"
               th:value="${keyword}">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Найти</button>
    </form>

    <a href="/superuser/orders/create" class="btn btn-primary mb-3">Создать Заказ</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Номер Заказа</th>
            <th>Пользователь</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.numberOrder}"></td>
            <td th:text="${order.user?.name + ' ' + order.user?.surname}"></td>
            <td th:text="${order.status?.name}"></td>
            <td>
                <a th:href="@{/superuser/orders/edit/{id}(id=${order.id})}" class="btn btn-primary">Редактировать</a>
                <a th:href="@{/superuser/orders/delete/{id}(id=${order.id})}" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
